<!DOCTYPE html>
<html>
  <head>
    <title>User Found</title>
  </head>
  <body>
    <div class="container">
      <h1>User Found</h1>
      <p>The user <b>{{user[1]}}</b> was found in the database</p>
      <br>
      <h2>All Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
